/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

/* header */



.zoekbalk {
    width: 25%;
    height: 5%;
    border-radius: 5px;
    float: right;
    margin-top: 2%;
    margin-right: 3%;
}

.menu {
    width: 5%;
    height: 5%;
    border-radius: 5px;
    float: right;
    margin-top: 2%;
    margin-right: 3%;
}

/* agenda */




/* login */
.login {
    height: 200px;
    margin: 20px;
    padding: 10px;
    background-color: var(--darker-red);
}

/* gerechten */
.gerechten {
    display: inline-grid;
    text-align: left;
    width: 40%;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    background-color: var(--kahki);
    outline-color: #000;    
}

.gerecht_foto {
    width: 100%;    
    background-position: relative;
    background-size: cover;
}


/* footer */

