{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{# header #}
{% block header %}

    <script>
        $(document).ready( function() {

        const mySlides = [
                { src: "assets/img/burger.jpg" },
                { src: "assets/img/eggs.jpg" },
                { src: "assets/img/pizza.jpg" },
                { src: "assets/img/sushi.jpg" },
            ]
        
        $("#background-image").vegas({
            overlay: 'vegas/overlays/02.png',
            slides: mySlides
        })

      })
    </script>

{% endblock %}


{# content #}
{% block content %}

    {% for record in data %}
    <div class="gerechten">
        <div class="row">
            <div class="col-md-12" id="gerecht_foto">
                <p>afbeelding</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8" color="green">
                <h2>{{record.titel}}</h2>
            </div>
            <div class="col-md-4">
                <p>waardering</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>{{record.korte_omschrijving}}<p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>smullen</p>
            </div>
            <div class="col-md-8">
                <p>personen, prijs, kcal</p>
            </div>
        </div>
    </div>

    {% endfor %}
    
{% endblock %}
