<html lang="nl">
<head>

    <title>Verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" href="assets/css/vegas-style.css"/>
    <link rel="stylesheet" href="assets/vegas/vegas.css"/>
    <script src="assets/jquery-3.5.1.js"></script>    
    <script src="assets/vegas/vegas.js"></script>
</head>

</html>
<body>
<div class="container-fluid">

    {# header #}
    <div class="row">
            <div class="col-md-12" id="background-image">
                <img src="assets/img/logo-v2.png" width="400" height="200">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>

        {# agenda #}
        <div class="row">
            <div class="col-md-3" style="background-color: green">
                <div class="row">
                    <div class="col-md-12">
                        <center><img src="assets/img/verrukkulluk-agenda.png" width="150" height="100"></center>
                        <p><h3>Vegetarisch koken</h3>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                        <p><h3>Vegetarisch koken</h3>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                        <p><h3>Vegetarisch koken</h3>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                        <p><h3>Vegetarisch koken</h3>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                        <p><h3>Vegetarisch koken</h3>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>    
                    </div>
                </div>
                {# login #}
                <div class="row">
                    <div class="col-md-12" style="background-color: red">
                        <center><img src="assets/img/verrukkulluk-login.png" width="170" height="100"/></center>
                    </div>
                </div>
            </div>

        {# gerechten #}
            <div class="col-md-9" style="background-color: blue">
                {%  block content %}
                {%  endblock %}
            </div>
	</div>

    {# footer #}
    <div class="row">
        <div class="col-md-12" style="background-color: orange">
            <img src="assets/img/verrukkulluk-pay-off.png" width="150" height="150"/>
			<img src="assets/img/verrukkulluk-contact.png" width="150" height="100"/>
				<address>
					<font color="white">Verrukkulluk.nl<br>
						Poststraat 2b<br>
						Sittard<br>
						info@verrukkulluk.nl</font>
				</address>
        </div>
    </div>
</div>
</body>
</html>
