<html lang="nl">
<head>

    <title>Verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</html>
<body>
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">    
                    <div class="header"> {# Header #}

                        {%  block header %}
                        {%  endblock %}

                        <form class="logo" action="./index.php" method="GET">
                            <input type="hidden" name="action" value="homepage">
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="agenda"> {# Agenda #}
                                    <div class="logo_agenda">
                                        <img src="assets/img/verrukkulluk-agenda.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                                <div class="login"> {# Login #}
                                    <div class="logo_login">
                                        <img src="assets/img/verrukkulluk-login.png">
                                    </div>
                                </div>
                        </div>

                {# Content #}
                <div class="col-md-12">                    
                    <div class="content">
                        {%  block content %}
                        {%  endblock %}
                    </div>
                </div>


                {# Footer #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer">
                            <div class="logo_footer">   
                                <img src="assets/img/verrukkulluk-pay-off.png"/>
                            </div>
                        
                        {# Contact #}
                            <div class="contact">
                                <img src="assets/img/verrukkulluk-contact.png"/>
                                <ul>
                                    <li> Verrukkuluk </li>
                                    <li> Poststraat 2b </li>
                                    <li> Sittard </li>
                                    <li> info@verrukkulluk.nl </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
